<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>P-G Registrar Compras</title>
  <!-- Favicon -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


<link rel="shortcut icon" href="../img/PubliGrafit2.png" type="image/x-icon">
  <!-- Custom styles -->
  <link rel="stylesheet" href="./css/style.css">

  

</head>

<body>
  <div class="layer"></div>
<!-- ! Body -->
<a class="skip-link sr-only" href="#skip-target">Skip to content</a>
<div class="page-flex">
  <!-- ! Sidebar -->
  <aside class="sidebar" id="header">
   {{>header}}
</aside>

  <div class="main-wrapper">
    <!-- ! Main nav -->
    <nav class="main-nav--bg">
     {{>nav}}
    </nav>



    <!-- ! Main -->
   <script src="validar/validarC.js"></script>
  <div class="card" style="width: 63%;" >

    <div class="card-body">
   <form action="/compras/save" method="post" id="compras">

    <div class="text-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-cart-plus" viewBox="0 0 16 16">
            <path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z"/>
            <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
          </svg>
  </div>
    <div class="form-row">
      <div class="col-xs-4" style="margin-left: 8%; width:190px">
        <label for="inputEmail4" class="form-label">Proveedor(*)</label><br>
        <select class="form-control" name="Proveedor" id="Proveedor" value="Proveedor" placeholder="Proveedor">
          <option value="">Proveedor</option>
          <option value="Quiminet">Quiminet</option>
          <option value="GranPapel">GranPapel</option>
          <option value="CGraficass">CGraficass</option>
          <option value="Artes Graficas">Artes Graficas</option>
          </select>

 
      </div>
    </div>
    <div class="form-row">

    <div class="col-xs-4" style="margin-left: 50%; margin-top: -13%; width:190px" >
      <label for="inputEmail4" class="form-label">Fecha(*)</label>
      <input type="date" class="form-control" placeholder="Fecha" aria-label="First name" id="Fecha" name="Fecha">
    </div>
    </div> 
    
    

    <div class="form-row">
      <div class="col-xs-4" style="margin-left:160px; margin-top:20px; width:190px" >
        <label for="inputEmail4" class="form-label">Total(*)</label>

        <input type="number" class="form-control" placeholder="Total"  aria-label="First name" id="Total" name="Total" >
      </div>    
    </div>
    
<script>
  function calcularSubtotal(row) {
    var cantidad = parseFloat(row.cells[1].getElementsByTagName("input")[0].value);
    var precio = parseFloat(row.cells[2].getElementsByTagName("input")[0].value);
    var ivaSelect = parseFloat(row.cells[3].getElementsByTagName("select")[0].value);
  
    var subtotal = cantidad * precio;
    var total = subtotal + (subtotal * ivaSelect);
    
    //row.cells[4].innerHTML = subtotal.toFixed(2);
    document.getElementById("Total").value = total.toFixed(2);
    document.getElementById("subtotal").value = subtotal.toFixed(2);
  }
  
  function operacion() {
    var tabla = document.getElementById("tablas");
    var rows = tabla.getElementsByTagName("tr");
    
    for (var i = 0; i < rows.length; i++) {
      calcularSubtotal(rows[i]);
    }
  }
  </script>


      <div>
      <button type="button" id="add2" onclick="validarAdd()">
      <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
      </svg></button>
      </div>

    </div>
    <table class="table">
    <thead>
      <tr>
        <th scope="col">Insumo</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Precio</th>
        <th scope="col">Iva</th>
        <th scope="col">SubTotal</th>
      </tr>
    </thead>
    <tbody id="tablas">
      <tr>
        <td><select name="Insumo" id="Insumo" style="width: 120px;">
          {{#each title}}
          <option value="{{id_insumo}}">{{nombre}}</option>
          {{/each}}
        </select></td>
        <td><input name="Cantidad" id="Cantidad" type="number" placeholder="Cantidad" style="width: 90px;" onchange="calcularSubtotal(this.parentNode.parentNode)">
        </input></td>
        <td><input id="Precio" name="Precio" type="number" placeholder="Precio" style="width: 90px;" onchange="calcularSubtotal(this.parentNode.parentNode)"></td>
        <td><select name="iva" id="ivaSelect" onchange="calcularSubtotal(this.parentNode.parentNode)">
          <option value=""></option>
          <option value="0.19">19%</option>
          <option value="0.16">16%</option>
          <option value="0.14">14%</option>
        </select></td>
        <td id="resultado"><input type="text"  name="subtotal" id="subtotal" style="width:70%"></td>

        </td>

      </tr>

    </tbody>
  </table>

    <div class="col-12 row mr-5">
      <button type="button" onclick="validarCompra()" class="btn btn-primary mr-5">Registrar</button>
      <button type="button" class="btn btn-danger ">Cancelar</button>
    </div>
  </form>
</div>
  </div>

    <!-- ! Footer -->
    <!-- <footer class="footer">
  <div class="container footer--flex">
    <div class="footer-start">
      <p>2021 © Elegant Dashboard - <a href="elegant-dashboard.com" target="_blank"
          rel="noopener noreferrer">elegant-dashboard.com</a></p>
    </div>
    <ul class="footer-end">
      <li><a href="##">About</a></li>
      <li><a href="##">Support</a></li>
      <li><a href="##">Puchase</a></li>
    </ul>
  </div>
</footer>
  </div>
</div> -->

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
 <script src="sweetalert2.min.js"></script>
 <link rel="stylesheet" href="sweetalert2.min.css">

<!-- Chart library -->
<script src="./plugins/chart.min.js"></script>
<!-- Icons library -->
<script src="plugins/feather.min.js"></script>
<!-- Custom scripts -->
<script src="js/script.js"></script>
</body>

</html>